// Individual Set attributes for specific behaviours

.set-flex      { display: flex }
.set-hidden    { visibility: hidden }

@media screen and (min-width:558px) {
  .set-sm-none { display: none; }
}

@media screen and (min-width:768px) {
  .set-md-none { display: none; }
}

@media screen and (min-width:992px) {
  .set-lg-none { display: none; }
}

@media screen and (min-width:1200px){
  .set-xl-none { display: none; }
}
