// Tejuino's titles size & spacing

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.8;
  margin: .5rem 0;
}

h1 { font-size: 5rem; }
h2 { font-size: 4.2rem; }
h3 { font-size: 3.6rem; }
h4 { font-size: 3rem; }
h5 { font-size: 2.4rem; }
h6 { font-size: 1.8rem; }
