// Tejuino's general input behaviour

input {
  border: 0.1rem solid #eaeaea;
  border-radius: 0.5rem;
  color: inherit;
  font-size: inherit;
  margin: 0.25rem 0.5rem;
  padding: 0.25rem 0.5rem;
  width: 80%;
}

label { font-weight: 700; }
