// Tejuino's buttons with hover styles

// Variables
$buttonbackground: #003366;
$buttonbackgroundhover: #0052a3;
$buttoncolor: #ffffff;

button.btn-link {
  background-color: $buttonbackground;
  border: 2px solid $buttonbackgroundhover;
  color: $buttoncolor;
  text-transform: capitalize;
  &:hover {
    background-color: $buttonbackgroundhover;
    cursor: pointer;
  }
}

// Special Buttons

// Variables
$buttonaccept: #06ad00;
$buttonaccepthover: #0e7e0a;
$buttonalert: #ee0000;
$buttonalerthover: #a30000;

button.btn-link.alert {
  background-color: $buttonalert;
  border: 2px solid $buttonalerthover;
  &:hover { background-color: $buttonalerthover; }
}

button.btn-link.accept {
  background-color: $buttonaccept;
  border: 2px solid $buttonaccepthover;
  &:hover { background-color: $buttonaccepthover; }
}
